<h3 style="color:#666666;">Bit Beats Artist Profile...</h3>
<div class="row-fluid">
  <div class="panel panel-default">
  <div class="col-md-6">
    <%=image_tag(@artist.image_url, class: "img-responsive thumbnail") %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= @artist.name%>
          <%=link_to "All Artists", artists_path, class: 'btn btn-default btn-xs'%>
        </h1>
      </div>
      <div class="panel-body">
        <p> <%= @artist.description %> </p>
        <div class = "well">
        <ul><% @songs.each do |song| %>
         <li><%= song.title %> | <%= link_to "See lyrics", song.lyric_url, class: 'btn btn-danger btn-xs', target: '_blank' %></li>
         </ul>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
