<!DOCTYPE html>
<html>
<head>
  <title>BookazonApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<div class="container-fluid">
<%= yield %>
</div>
=======
  <div class="container-fluid">
    <%= yield %>
  </div>
>>>>>>> 8f75727f1fdef019b63a2f1f32c2eb04c0a2bdc9
</body>
</html>
