
<div class="panel panel-default">
<div class="panel-heading">
  <h1> Edit <%= @artist.name %> </h1>
</div>

<div class="panel-body">
  <%= simple_form_for @artist do |f| %>
    <%= f.input :name, label: false, as: :text %>
    <%= f.input :description, label: false %>
    <%= f.input :image_url, label: false %>
    <br>
    <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-danger" %>
  <% end %>
</div>

</div>
