<div class="panel panel-default">
<div class="panel-heading">
  <h1> Edit <%= @song.name %> </h1>
</div>

<div class="panel-body">
  <%= simple_form_for @song do |f| %>
    <%= f.input :title, label: false, as: :text %>
    <%= f.input :artist, label: false, as: :text %>
    <%= f.input :genre, label: false, as: :text %>
    <%= f.input :length, label: false, as: :text %>
    <br>
    <%= f.submit "Submit".html_safe, class: "btn btn-lg btn-danger" %>
  <% end %>
</div>

</div>
